<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog webapp</title>
        <link rel="stylesheet" href="stylesheets/style.css">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    </head>

    <body>
        <!DOCTYPE html>
        <html lang="en">

            <head>
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <title>Document</title>
                <link rel="stylesheet" href="stylesheets/style.css">
                <script src="https://cdn.tailwindcss.com"></script>
            </head>
            </head>

            <body>


                <div class="w-full h-full p-6 text-white bg-zinc-900 gap-4">

                    <article class="mb-3 text-blue-500">
                        <h3><a href="/read">Read blogs</a></h3>
                    </article>

                    <h1 class="text-3xl font-bold mt-10 mb-6 justify-center items-center ml-[540px]">SignUp</h1>
                    <form action="/signup" method="post">
                        <input
                            class="px-10 py-3 border-2 border-zinc-800 bg-transparent outline-none rounded-lg ml-[500px]"
                            type="text" placeholder="name" name="name">
                        <input
                            class="px-10 py-3  border-2 border-zinc-800 bg-transparent outline-none rounded-lg flex  ml-[500px] flex-col gap-y-4 mt-2"
                            type="text" placeholder="mention your role" name="role">
                        <input
                            class="px-10 py-3 border-2 border-zinc-800 bg-transparent outline-none rounded-lg flex  ml-[500px] flex-col gap-y-4 mt-2"
                            type="text" placeholder="Write your age" name="age">
                        <input
                            class="px-10 py-3 border-2 border-zinc-800 bg-transparent outline-none rounded-lg flex  ml-[500px] flex-col gap-y-4 mt-2 mb-6"
                            type="text" placeholder="What is your exprtise to write your blog" name="expertise">
                        <input
                            class="px-10 py-3 border-2 border-zinc-800 bg-transparent outline-none rounded-lg flex  ml-[500px] flex-col gap-y-4 mt-2 mb-6"
                            type="password" placeholder="password" name="password">
                        <input
                            class="px-[98px] py-3 text-xl font-bold border-none bg-green-600 outline-none rounded-lg flex  ml-[500px] flex-col gap-y-4 mt-4 mb-"
                            type="submit" name="submit" name="Submit">
                    </form>
                </div>

            </body>

        </html>

        </div>
    </body>

</html>